### Code ###
.vscode/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

### macOS ###
*.DS_Store

### venv ###
# Linux
bin/ 
lib/
include/

# Window
Include/
Lib/
Scripts/

# Shared
pyvenv.cfg

