<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Connected In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Bem Vindo ao Connected In</h1>

    <h2>Lista de Usuários</h1>
     {% if profiles %} 
    <ul>
      {% for profile in profiles %}
      <li>
        <a href="{% url 'show_profile' profile.id %}"><b>{{ profile.id }}) {{ profile.name }}</b>  - {{ profile.email }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum perfil encontrado!</p>
    {% endif %}
  </body>
</html>