.card-profile-list {
  margin-top: 40px;
}

.text-logo {
  position: absolute;
  left: 40px;
  top: 16px;
}

.profiles-list li {
  padding-bottom: 20px;
}

.profiles-list {
  padding-top: 10px;
  margin-left: -10px;
}

.title-profile {
  margin-top: 40px;
  display: inline-block;
  padding-right: 20px;
}

.btn-invite {
  margin-top: -18px;
}

.list-profile-info {
  margin-top: 20px;
}

.card-users {
  margin-bottom: 40px;
}

.invites-list li {
  padding-bottom: 25px;
}

.invites-list li:last-of-type {
  padding-bottom: 0;
}

.invites-list li p {
  display: inline;
}

.btn-invites a {
  margin-top: -30px;
  margin-left: 10px;
}